#Intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
h3 {
    text-align: center;
}
h2 {
    text-align: center;
}
.flex-item {
    width: 45%;
    margin: 10px;
    padding: 10px;
    border: 2px solid #009dff;
    border-radius: 5px;
}
article {
    display: block;
    margin: auto;
    text-align: center;
}
footer {
    display: block;
    background-color: #009dff;
    text-align: center;
    bottom: 0;
    height: 120px;
    width: 100%;
    padding-top: 30px;
    font-family: "Times New Roman";
    color: #FFFFFF;
}
footer a {
    color: #FFFFFF;
}
#image-container {
    display: flex;
    justify-content: center;
}
#image-container img {
    margin: 0 10px; 
    align-self: center; 
    border: 4px solid #009dff;
    border-radius: 5px; 
}
.flex-item img {
    border: 2px solid #009dff; 
    padding: 5px; 
}
@media (max-width: 790px) {
    body {
        max-width: none; 
        margin: 0 auto; 
    }
}
@media (min-width: 791px) {
}


