/* CSS for flex containers */
.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px; /* Adjust margin as needed */
}

.flex-item {
    width: calc(50% - 10px); /* Adjust width as needed */
    padding: 10px;
    border: 3px solid #003C61; /* Border style */
    margin-bottom: 20px; /* Adjust margin as needed */
    box-sizing: border-box;
}

.flex-item p {
    font-family: 'Times New Roman', Times, serif; /* Times New Roman font */
    color: #003C61; /* Text color */
}

/* CSS to place image on the right and text on the left */
.flex-item img {
    float: right;
    margin-left: 20px; /* Adjust margin as needed */
    max-width: 50%; /* Adjust image width as needed */
    border: 2px solid #003C61; /* Border around the image */
    padding: 5px; /* Padding around the image */
}

/* Clear float to prevent text from wrapping around the image */
.flex-item::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    display: block;
    background-color: #003C61;
    text-align: center;
    bottom: 0;
    height: 120px;
    width: 100%;
    padding-top: 30px;
    font-family: "Times New Roman";
    color: #FFFFFF;
}

footer a {
    color: #FFFFFF;
}

h2 {
    text-align: center;
}