.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px; 
}
.flex-item {
    width: calc(50% - 10px); 
    padding: 10px;
    border: 3px solid #009dff; 
    margin-bottom: 20px; 
    box-sizing: border-box;
}
.flex-item p {
    font-family: 'Times New Roman', Times, serif; 
    color: #000000; 
}
.flex-item img {
    float: right;
    margin-left: 20px; 
    max-width: 50%; 
    border: 2px solid #009dff; 
    padding: 5px; 
}
.flex-item::after {
    content: "";
    display: table;
    clear: both;
}
@media (min-width: 768px) {
    .flex-item {
        width: calc(33.33% - 10px); 
    }
}
@media (min-width: 1024px) {
    .flex-item {
        width: calc(25% - 10px); 
    }
}
@media (min-width: 1200px) {
    .flex-item {
        width: calc(20% - 10px); 
    }
}
footer {
    display: block;
    background-color: #009dff;
    text-align: center;
    bottom: 0;
    height: 120px;
    width: 100%;
    padding-top: 30px;
    font-family: "Times New Roman";
    color: #FFFFFF;
}
footer a {
    color: #FFFFFF;
}
h2 {
    text-align: center;
}
